attrs==20.3.0
certifi==2020.6.20
click==7.1.2
click-plugins==1.1.1
cligj==0.7.0
Fiona @ file:///C:/Users/Perry/Downloads/Fiona-1.8.17-cp37-cp37m-win_amd64.whl
GDAL @ file:///C:/Users/Perry/Downloads/GDAL-3.1.4-cp37-cp37m-win_amd64.whl
munch==2.5.0
numpy @ file:///D:/bld/numpy_1604603436420/work
pandas @ file:///D:/bld/pandas_1604166721606/work
plotly==4.12.0
python-dateutil==2.8.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1604321279890/work
retrying==1.3.3
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
tabulate==0.8.7
wincertstore==0.2
xlrd @ file:///home/conda/feedstock_root/build_artifacts/xlrd_1595712200082/work
